*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Comic Sans Ms";
}

header{
    position: relative;
    width: 100%;
}

/*banner*/
header>div{
    background-image: url(./img/design1_image2.jpg);
    height: 280px;
    background-position: 2%;
}

/*titulo principal*/
header>h1{
    font-style: italic;
    font-size: 48px;
}

/*Menu navegacion*/
nav{
    position: absolute ;
    top: 55px;
    right: 3%;
}

nav>a{
    border: 2px solid black;
    box-shadow: 8px 2px 2px grey;
    background-color: #4472c4 ;
    color: white;
    padding: 5px 28px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 16px;
}

/*boton verde*/
.btn{
    background-color: #70ad47;
}

/*titulo 2*/
section>h2{
    position: inherit;
    text-align: center;
    padding: 1px 0;
    border: 2px solid black;
    font-size: 38px;
    width: 100%;
}
    
/**Seccion de Articulo Home y Contact*/
section{
    position: relative;
    display: inline-block;
    width: 100%;
    /*vertical-align: top;*/
}

/*logo Home About Contact*/
#logo{
    position: absolute;
    display: inline-block;
    width: 8%;
    margin-top: 60px;
    margin-left: 45px;
    /*border: 2px solid black;*/
}

/*Aticulo central home y contact*/
.articulo{
    position: absolute;
    display: inline-block;
    width: 45%;
    margin-left: 260px;
    margin-top: 40px;
    /*border: 2px solid black;*/
}

/*texto Home*/
article>h3{
    font-weight: bold;
    font-size: 22px;
}
 /*texto general*/
p{
    text-indent: 40px;
    font-size: 20px;
}

section>h3{
    font-weight: bold;
    font-size: 22px;
}

/*imagen task1*/
#hy1{
    position: absolute;
    display: inline-block;
    width: 25%;
    margin-top: 40px;
    margin-left: 1100px;
    /*border: 2px solid black;*/
}

/*imagen about*/
#hy2{
    position: absolute;
    display: inline-block;
    width: 24%;
    margin-top: 40px;
    margin-left: 1100px;
    /*border: 2px solid black;*/
}

/*imagen contacto*/
#hy3{
    position: absolute;
    display: inline-block;
    width: 24%;
    margin-top: 40px;
    margin-left: 1100px;
    /*border: 2px solid black;*/
}

/*footer*/
footer{
    position: absolute;
    width: 100%;
    top: 750px;
    text-align-last: center;
    background-color: rgb(236, 235, 235);
}

.footerabout{
    position: absolute;
    width: 100%;
    top: 1000px;
    text-align-last: center;
    background-color: rgb(236, 235, 235);
}

footer>p{
    font-size: 14px;
}