*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: georgia;
    background-color: rgb(201, 199, 199);
}

/* .body2{
    margin: 0 6rem;
    background-color: rgb(238, 238, 238)
} */

/*header con logo y nav*/
header{
    display: flex;
    min-height: 70px;
    background-color: rgb(46, 46, 46);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction:column;
}

a{
    text-decoration: none;
    color: rgb(243, 242, 242);
    font-size: 22px;
    border-radius: 5px;
    background-image: linear-gradient(currentColor, orange);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.logo{
    display: flex;
    align-items: center;
    border: inherit;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

nav{
    padding: 10px 0px;
}

nav>a{
    padding-right: 10px;
    padding: 1px 6px;
    font-size: 18px;
    margin-left: 6px;
}

nav>a:hover, a:focus {
    background-size: 100% 2px;
}

/*banner*/
.banner{
    background-image: url(./img/design1_image2.jpg);
    height: 280px;
    background-position: 2%;
    display: flex;
}

/*Cuerpo*/
.home{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    flex: 1 ;
    min-width: 250px;
    padding: 5px;
    margin: 25px;
    background-color: rgb(238, 238, 238);
}

.flex:first-child{
    flex: 1;
    margin: 25px;
}

.flex:nth-child(2){
    flex: 1;
    margin: 25px;
}

.flex:nth-child(3){
    flex: 1;
    margin: 25px;
}

.flex div {
    padding: 25px;
    margin: 25px;
}

.contenedor-tabla{
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.hy1{
    max-width: 100%;
    width: 500px;
    padding: 4vh;
}

.hy2{
    max-width: 100%;
    padding-top: 4vh;
}

.hy3{
    max-width: 100%;
}

.hy4{
    max-width: 100%;
    width: 45px;
    margin-right: 10px;
}

#contacto{
    display: flex ;

}
/*titulo 2*/
section>h2{
    position: inherit;
    text-align: center;
    padding: 4px 0;
    font-size: 28px;
    width: 100%;
    background-color: rgb(248, 225, 46);
    color: rgb(46, 46, 46);
    text-shadow: 1px 1px 2px black;
}

#rules{
    position: inherit;
    width: 100%;
    text-align: center;
}

p{
    font-size: 20px;
    text-indent: 20px;
}

.mail{
    color: rgb(255, 136, 24);
    font-size: medium;
}

li{
    list-style-position: inside;
    font-size: 20px;
    margin-left: 20px;
}

.abc{
    list-style: lower-alpha;
}

#espacio-lista>li{
    margin-bottom: 10px;
}

/* game info */
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-info>h2{
    position: inherit;
    text-align: center;
    padding: 4px 0;
    font-size: 28px;
    width: 100%;
    background-color: rgb(248, 225, 46);
    color: rgb(46, 46, 46);
    text-shadow: 1px 1px 2px black;
}

.info {
    padding: 5px;
    margin: 0 40px;
    flex-direction: column;
    align-items: center;
}

.info p {
    text-indent: 0;
}

.game-info-contacto {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

.game-info-contacto div {
    display: flex;
    justify-content: space-between;
}

/*tabla*/
table {
    width: 100%;
    padding: 20px;
}

tr, th, td{
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
}

td {
    padding: 1rem;
}

/*Form*/
form{
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: #ccc;
}

#registro{
    margin-left: 130px;
}

form label{
    display: inline-block;
}

form input[type="text"]{
    width: 250px;
    padding: 4px;
    border: 0;
    border-bottom: 2px solid black;
    background-color: #ccc;
    border-radius: 3px;
    margin: 8px 0;
    display: inline-block;
}

form input[type="number"]{
    width: 100px;
    border: 0;
    border-bottom: 2px solid black;
    background-color: #ccc;
    border-radius: 3px;
    margin-top: 1rem;
    display: inline-block;
}

form input[type="date"]{
    width: 140px;
    padding: 4px;
    border: 1px solid #f6f6f6;
    margin-right: 66px;
}

form input[type="radio"],form input[type="checkbox"]{
    padding: 4px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    margin-top: 1rem;
    display: inline-block;
}
.box{
    padding: 1rem;
    margin-bottom: 1rem;
}

.box2, .box3, .box4{
    padding: 1rem;
}

.box-doble{
    display: inline-flex;
    flex-direction: row ;
    width: 100%;
}

.box-doble>div{
    width: 50%;
}

#submit{
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    margin-top: 1rem;
    margin-left: 350px;
}

.line1{
    justify-content: space-between;
}

/*mapas*/
.mapas{
    display: flex;
}

iframe {
    border: 1px solid black;
    margin: 10px 0;
}

.mapas>div{
margin: 30px;
padding: 10px;
}

/*footer*/
footer{
    height: 4vh;
    background-color: rgb(46, 46, 46);
    color: rgb(218, 217, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p{
    font-size: 18px;
}


@media only screen and (min-width: 375px) and (max-width:667){
    header{
        width: 100%;
    }
    
    .banner{
        width: 100%;
        height: 20vh;
    }

    footer>p{
        font-size: 10px;
    }

    .mapas{
        display: flex;
        flex-direction: column;
    }

    form{
        
    }

}